@import '~vue-material/dist/theme/engine';

@include md-register-theme('default', (
  primary: md-get-palette-color(lightgreen, 400), // The primary color of your application
  accent: md-get-palette-color(red, A400), // The accent or secondary color,
  theme: dark
));

@import '~vue-material/dist/theme/all';